# what the doctor wants to do 
<!DOCTYPE html>
<html>
    <head> <h1>Request Platform</h1>
        <style>
            h1{

            color:yellow;
            font-size:20px;
            font-style:Vernada;
            background-color:orangered;
            }
        </style>
        <title>
         requirement page
        </title>
    </head>
        <body>
          
            
  
            <p style="color:rgb(20, 9, 9)"><h2>Click on what you want to do </h2></p>
            <p><h4><a href ="/student_info">Retrieve patient records</a></h4> </p>
            <br>
            <p><h4><a href="/add_patient">Create Patient Records</a></h4></p>
            <br>
           <p><h4><a href="/edit_patient">Update patient records</a><h4></p>
            <br>
        <marquee>For all your patient record needs!</marquee>
        
        </body>

    
</html>